/.github export-ignore
/.gitignore export-ignore
/.distignore export-ignore
/.gitattributes export-ignore
/.DS_Store export-ignore
/Thumbs.db export-ignore
/_dist export-ignore
/dist export-ignore
/build export-ignore
/docs export-ignore
/tests export-ignore
/scripts export-ignore
